/* section {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
} */
